<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcsp.Mapper">
<!--    TopCategory-->
    <select id="selectAllActiveTopCategories" resultMap="TopCategoryMap">
        select id,name,isActive
        from dbo.TopCategory
        where isActive = 1
    </select>

<!--    HotWord-->

    <select id="selectHotWordsByTopCategoryId" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,name
        from dbo.[HotWord]
        where topCategoryID = #{topCategoryId}

    </select>

    <select id="selectHotWordByName" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,[name],isDone
        from dbo.[HotWord]
        where [name] = #{name}
    </select>

    <update id="updateHotWord" parameterType="HotWord">
        update dbo.[HotWord]
        <set>
            <if test="isDone != null">isDone = #{isDone}</if>
        </set>
        where id = #{id}
    </update>

<!--    Question-->
    <insert id="insertQuestions" parameterType="map">
        insert into dbo.[Question] (id,hotWordId,url,source,[name],[createTime])
        values
        <foreach collection="questions" item="question" separator=",">
            (#{question.id},#{question.hotWordId},#{question.url},#{question.source},#{question.name},#{question.createTime})
        </foreach>
    </insert>

    <select id="selectQuestionsByHotWordId" parameterType="String" resultMap="QuestionResultMap">
        select id,hotWordId,url,source,[name],[createTime]
        from dbo.[Question]
        where hotWordId = #{hotWordId}
    </select>

<!--    XZSE86-->
    <select id="selectXzse86ByTopCategoryId" parameterType="String" resultMap="Xzse86ResultMap">
        select id,topCategoryId,xZSE86JSON from dbo.XZSE86
        where topCategoryID = #{topCategoryID}
    </select>

    <resultMap id="HotWordResultMap" type="entity.HotWord">
        <result property="id" column="id"/>
        <result property="topCategoryID" column="topCategoryID"/>
        <result property="name" column="name"/>
        <result property="isDone" column="isDone"/>
    </resultMap>

    <resultMap id="TopCategoryMap" type="entity.TopCategory">
        <result property="id" column="id" />
        <result property="name" column="name"/>
        <result property="isActive" column="isActive" />
    </resultMap>

    <resultMap id="QuestionResultMap" type="Question">
       <result property="id" column="id"/>
       <result property="hotWordId" column="hotWordId"/>
       <result property="url" column="url"/>
       <result property="source" column="source"/>
       <result property="name" column="name"/>
       <result property="createTime" column="createTime" />

    </resultMap>
    
    <resultMap id="Xzse86ResultMap" type="XZSE86">
        <result property="id" column="id"/>
        <result property="topCategoryId" column="topCategoryId"/>
        <result property="XZSE86JSON" column="XZSE86JSON"/>
    </resultMap>

</mapper>