<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcsp.Mapper">

    <select id="selectAllActiveTopCategories" resultMap="TopCategoryMap">
        select id,name,isActive
        from dbo.TopCategory
        where isActive = 1
    </select>

    <select id="selectHotWordsByTopCategoryId" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,name
        from dbo.[HotWord]
        where topCategoryID = #{topCategoryId}

    </select>

    <select id="selectHotWordByName" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,[name],isDone
        from dbo.[HotWord]
        where [name] = #{name}
    </select>

    <update id="updateHotWord" parameterType="HotWord">
        update dbo.[HotWord]
        <set>
            <if test="isDone != null">isDone = #{isDone}</if>
        </set>
        where id = #{id}
    </update>


    <resultMap id="HotWordResultMap" type="entity.HotWord">
        <result property="id" column="id"/>
        <result property="topCategoryID" column="topCategoryID"/>
        <result property="name" column="name"/>
        <result property="isDone" column="isDone"/>
    </resultMap>

    <resultMap id="TopCategoryMap" type="entity.TopCategory">
        <result property="id" column="id" />
        <result property="name" column="name"/>
        <result property="isActive" column="isActive" />
    </resultMap>

</mapper>