<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcsp.Mapper">
    <!--    TopCategory-->
    <select id="selectAllActiveTopCategories" resultMap="TopCategoryMap">
        select id,name,isActive
        from dbo.TopCategory
        where isActive = 1
    </select>

    <!--    HotWord-->

    <select id="selectHotWordsByTopCategoryId" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,name,isDoneBaidu,isDoneZhihu
        from dbo.[HotWord]
        where topCategoryID = #{topCategoryId}

    </select>

    <select id="selectHotWordByName" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,[name],isDoneBaidu,isDoneZhihu
        from dbo.[HotWord]
        where [name] = #{name}
    </select>

    <select id="selectHotWordByConditions" parameterType="String" resultMap="HotWordResultMap">
        select id,topCategoryID,[name],isDoneBaidu,isDoneZhihu
        from dbo.[HotWord]
        where [name] = #{name} and [topCategoryID] = #{topCategoryId}
    </select>

    <update id="updateHotWord" parameterType="HotWord">
        update dbo.[HotWord]
        <set>
            <if test="isDoneBaidu != null">isDoneBaidu = #{isDoneBaidu},</if>
            <if test="isDoneZhihu != null">isDoneZhihu = #{isDoneZhihu}</if>
        </set>
        where id = #{id}
    </update>

    <!--    Question-->
    <insert id="insertQuestions" parameterType="map">
        insert into dbo.[Question] (id,hotWordId,url,source,[name],[createTime])
        values
        <foreach collection="questions" item="question" separator=",">
            (#{question.id},#{question.hotWordId},#{question.url},#{question.source},#{question.name},#{question.createTime})
        </foreach>
    </insert>

    <select id="selectQuestionsByHotWordId" parameterType="String" resultMap="QuestionResultMap">
        select id,hotWordId,url,source,[name],[createTime]
        from dbo.[Question]
        where hotWordId = #{hotWordId}
    </select>

    <select id="selectQuestionByTopCategory" parameterType="String" resultMap="QuestionResultMap">
       SELECT q.HotWordID,q.URL FROM dbo.TopCategory t
       INNER JOIN dbo.HotWord h ON t.ID = h.TopCategoryID
       INNER JOIN dbo.Question q ON h.ID = q.HotWordID
       WHERE t.ID = #{topCategoryId}
       GROUP BY q.HotWordID,q.URL
    </select>

    <!--    XZSE86-->
    <select id="selectXzse86ByTopCategoryId" parameterType="String" resultMap="Xzse86ResultMap">
        select id,topCategoryId,xZSE86JSON from dbo.XZSE86
        where topCategoryID = #{topCategoryID}
    </select>

    <!--    CombinedQuestion-->
    <select id="selectCombinedQuestion" parameterType="map" resultType="CombinedQuestion">
        select id,topCategoryId, hotWordId,name,url,createTime
        from dbo.CombinedQuestion
        <where>
            <if test="topCategoryId != null">topCategoryId = #{topCategoryId}</if>
            <if test="hotWordId != null">hotWordId = #{hotWordId}</if>
        </where>

    </select>


    <insert id="insertCombinedQuestion" parameterType="map">
        insert into dbo.[CombinedQuestion] (id,topCategoryId,hotWordId,url,[name],[createTime])
        values
        (#{id}, #{topCategoryId}, #{hotWordId},#{url},#{name},#{createTime})
    </insert>

    <update id="updateCombinedQuestions" parameterType="map">
        <foreach collection="combinedQuestions" item = "cq">
            update dbo.[CombinedQuestion]
            <set>
                topCategoryId = #{cq.topCategoryId},
                hotWordId = #{cq.hotWordId},
                url = #{cq.url},
                name = #{cq.name},
                createTime = #{cq.createTime}
            </set>
            where id = #{cq.id}
        </foreach>
    </update>


    <update id="updateCombinedQuestion" parameterType="CombinedQuestion">
        update dbo.[CombinedQuestion]
        <set>
            <if test="name != null">name=#{name}</if>
        </set>
        where id = #{id}
    </update>

<!--    QuestionContent-->
    <insert id="insertQuestionContents" parameterType="map">
        insert into dbo.QuestionContent ( id, combinedQuestionId, followerCount, browserCount, createTime)
        values
        <foreach collection="questionContents" item="qc" separator=",">
            (#{qc.id},#{qc.combinedQuestionId},#{qc.followerCount},#{qc.browserCount},#{qc.createTime})
        </foreach>
    </insert>

    <insert id="insertQuestionContentSingle" parameterType="map" >
        insert into dbo.QuestionContent ( id, combinedQuestionId, followerCount, browserCount, createTime,answerCount)
        values
        (#{id},#{combinedQuestionId},#{followerCount},#{browserCount},#{createTime},#{answerCount})
    </insert>

    <select id="selectQuestionContents" parameterType="String" resultType="QuestionContentDto">
        SELECT t.Name AS topCateogryName, c.Name AS questionName,c.url as questionUrl, q.Id, q.combinedQuestionId,q.followerCount,q.browserCount,q.createTime
        ,q.answerCount
        FROM dbo.TopCategory t
        INNER JOIN dbo.HotWord h ON t.ID = h.TopCategoryID
        INNER JOIN dbo.CombinedQuestion c ON t.ID = c.TopCategoryID AND h.ID = c.HotWordID
        INNER JOIN dbo.QuestionContent q ON c.ID = q.CombinedQuestionID
        WHERE t.ID =  #{topCategoryId}
    </select>

    <resultMap id="HotWordResultMap" type="entity.HotWord">
        <result property="id" column="id"/>
        <result property="topCategoryID" column="topCategoryID"/>
        <result property="name" column="name"/>
        <result property="isDoneBaidu" column="isDoneBaidu"/>
        <result property="isDoneZhihu" column="isDoneZhihu"/>
    </resultMap>

    <resultMap id="TopCategoryMap" type="entity.TopCategory">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isActive" column="isActive"/>
    </resultMap>

    <resultMap id="QuestionResultMap" type="Question">
        <result property="id" column="id"/>
        <result property="hotWordId" column="hotWordId"/>
        <result property="url" column="url"/>
        <result property="source" column="source"/>
        <result property="name" column="name"/>
        <result property="createTime" column="createTime"/>

    </resultMap>

    <resultMap id="Xzse86ResultMap" type="XZSE86">
        <result property="id" column="id"/>
        <result property="topCategoryId" column="topCategoryId"/>
        <result property="XZSE86JSON" column="XZSE86JSON"/>
    </resultMap>

</mapper>